body{
    font-family: 'Roboto',sans-serif;
    margin: 0;
  }
  .greyarea{
    background-color: #1f2937;
    padding-bottom: 100px;
  }
  .logo{
    font-size: 34px;
    color: #f9faf8;
    font-weight: 900;
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 150px;
  }
  .link{
    display: flex;
    gap: 32px;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  
  .cont1 {
    flex: 1;
    margin-left: 140px;
    max-width: 40%; 
  
  }
  .placeholder {
    flex: 2; 
    margin: 0 10px; 
    max-width: 40%;
    background-color: grey;
    padding: 100px 0px;
    margin-right:50px ;
    text-align: center;
    color: white;
    font-size: 16px;
  }
  .cont1 h2{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0px;
  }
  .cont1 p, ul a{
    font-size: 16px;
    color: #e5e7eb;
    text-decoration: none;
  }
  .content button{
    padding: 10px 28px;
    font-size: 14px;
    background-color: #3882F6;
    border: none;
    color: white;
    border-radius: 10px;
    font-weight: 700;
  }
  ul li{
  list-style-type:none;
  }
  .whitearea h3{
  text-align: center;
  font-size: 32px;
  color: #1f2937;
  margin-bottom: 10px;
  }
  .containers{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 10%;
  }
  .container1{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin: 24px;
   font-weight: 200;
  
  }
  .subtext{
    border: solid #3882F6 5px;
    padding: 80px 100px;
    border-radius: 20px;
  }
  .quotearea{
    background-color:#e5e7eb ;
    padding: 120px 200px;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
  }
  .scientist{
    text-align: end;
    font-size: 16px;
    font-weight: 800;
  }
  
  .bluearea{
    background-color: #3882f6;
    width: 70%;
    border-radius: 10px;
    margin: 8% 10%;
    color: white;
    padding: 20px 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .bluearea button{
    background-color: #3882f6;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    padding: 6px 32px;
    margin: 16px 0;
  
  }
  .signup-header{
    font-size: 18px;
    font-weight: bold;
  }
  .signup-text{
    font-weight: 200;
    font-size: 14px;
  }
  .footer{
    background-color: #1f2937;
    padding: 50px;
    text-align: center;
  }
  .footer a{
    color: white;
    text-decoration: none;
  }